* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: beige;
    color:  brown;
    line-height: 1.6;
    
}

header {
    background-color: burlywood;
    color: blue;
    padding: 1rem 0;
    text-align: left;
}
h2 {
    color: white
}

.cover-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

header h1 {
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

section {
    width: 48%;
}

#movie-details {
    background-color:gray;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#movie-details h2 {
    margin-bottom: 1rem;
}

#movie-details img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#movie-details h3 {
    margin-bottom: 1rem;
    color: #333;
}

#movie-details p {
    margin-bottom: 0.5rem;
}

#movie-details button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
}

#movie-details button:hover {
    background-color: #555;
}

#movie-list {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#movie-list h2 {
    margin-bottom: 1rem;
}

#films {
    list-style-type: none;
    padding: 0;
}

#films li {
    background-color: #f4f4f4;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#films li:hover {
    background-color: #ddd;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: burlywood;
    color: maroon1+99;
    position: fixed;
    bottom: 0;
    width: 100%;
}